# Code Owners — these users will be automatically requested for review
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @{{ cookiecutter.author_name | lower | replace(' ', '-') }}
{%- if cookiecutter.is_subproject %}

# Sub-project specific
/src/{{ cookiecutter.__package_name_kebab_case }}/ @{{ cookiecutter.author_name | lower | replace(' ', '-') }}
{%- endif %}
